@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2e9e4;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Dosis Light";
    src: url("./assets/fonts/Dosis-Light.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Dosis SemiBold";
    src: url("./assets/fonts/Dosis-SemiBold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Dosis Bold";
    src: url("./assets/fonts/Dosis-Bold.ttf") format("truetype");
    font-style: normal;
}
